

1. **Data Reading and Writing**:
   - `read_csv()`: Read a CSV file into a DataFrame.
   - `read_excel()`: Read an Excel file into a DataFrame.
   - `read_sql()`: Read SQL query or database table into a DataFrame.
   - `to_csv()`: Write DataFrame to a CSV file.
   - `to_excel()`: Write DataFrame to an Excel file.
   - `to_sql()`: Write DataFrame to a SQL database.

2. **Data Exploration**:

   - `head()`: Display the first n rows of the DataFrame.
   - `tail()`: Display the last n rows of the DataFrame.
   - `info()`: Display concise summary of DataFrame.
   - `describe()`: Generate descriptive statistics of DataFrame.
   - `shape`: Get the dimensions of the DataFrame.

3. **Data Manipulation**:
   - `rename()`: Rename columns of DataFrame.
   - `drop()`: Drop specified labels from rows or columns.
   - `fillna()`: Fill NA/NaN values with a specified value.
   - `drop_duplicates()`: Remove duplicate rows from the DataFrame.
   - `sort_values()`: Sort DataFrame by one or more columns.
   - `groupby()`: Group DataFrame using a mapper or by a Series of columns.
   - `merge()`: Merge DataFrame or named Series objects with a database-style join.

4. **Data Selection and Indexing**:
   - `loc[]`: Access a group of rows and columns by labels.
   - `iloc[]`: Access a group of rows and columns by integer position.
   - `at[]`: Access a single value for a row/column label pair.
   - `iat[]`: Access a single value for a row/column pair by integer position.

5. **Data Aggregation**:
   - `mean()`: Compute mean of groups.
   - `sum()`: Compute sum of group values.
   - `min()`: Compute min of group values.
   - `max()`: Compute max of group values.
   - `count()`: Compute count of group.

6. **Data Visualization**:
   - `plot()`: Plot data.
   - `hist()`: Draw histogram of DataFrame's column.
   - `boxplot()`: Make a box plot from DataFrame columns.
   - `scatter()`: Make a scatter plot of DataFrame columns.

7. **Data Cleaning**:
   - `dropna()`: Remove missing values.
   - `fillna()`: Replace missing values with specified value.
   - `replace()`: Replace values in DataFrame.



1. `str`: This accessor allows you to perform various string operations on each element of a pandas Series (DataFrame column).

2. `str.upper()`: Converts all characters in the string to uppercase.

3. `str.lower()`: Converts all characters in the string to lowercase.

4. `str.title()`: Converts the first character of each word to uppercase and the rest to lowercase.

5. `str.strip()`: Removes leading and trailing whitespace.

6. `str.replace()`: Replaces a specified substring with another substring.

7. `str.contains()`: Checks whether each string contains a specified substring.

8. `str.startswith()`: Checks whether each string starts with a specified substring.

9. `str.endswith()`: Checks whether each string ends with a specified substring.

10. `str.split()`: Splits the string into substrings based on a specified delimiter.

11. `str.join()`: Joins elements of a list together with a specified delimiter to form a string.

12. `str.cat()`: Concatenates strings in a Series with a specified separator.

In [ ]:
import pandas as pd

df=pd.read_csv("laptopData.csv")
#print(df.head(10))
#print(df.columns)
#df=df['Company'][5:11]
#print(df)
#print(df.iloc[5:11])

In [ ]:
new_df=df.loc[(df['Type_1']=="good") & (df.['Type_2'=="bad"])]
print(new_df)
new_df.to_csv("file.csv")
new_df.reset_index()
new_df.reset_index(drop=True)
new_df.reset_index(drop=True , inplace=True)

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt


df=pd.read_csv("laptopData.csv")
#for index,row in df.iterrows():
  #print(index,row['Ram'])
#df.loc[df['Ram'] == "rom"]
#df['Ram'][0:5]
#print(df.describe())
#df.sort_values('Ram',ascending=False)[0:10]
#adding can be done only with same datatypes
#df=df.drop(columns=['Ram'])
#df.head(5)
#df['Total']=df.iloc[:,0:11].sum(axis=1)
#df.plot(kind='scatter', x='Price', y='Inches')
#df.show()

In [ ]:
df['Price'] = df['Price'].astype(float)
df['Inches'] = df['Inches'].astype(float)
df.plot(kind='scatter', x='Price', y='Inches')
This assigns the calculated sum to a new column named "Price" in the DataFrame df.......df['Total']=df.iloc[:,0:11].sum(axis=1)
df.plot(kind='scatter', x='Price', y='Inches')//scatter
df.plot(kind='hist', x='Price', y='Inches')//histogram

In [ ]:
df.loc[df['Name'].str.contains('Abi')]

import re

df.loc[df.['name'].str.contains('Abi' , regex=True)]
df.loc[df.['name'].str.contains('Abi|Libi', flags=re.I ,regex=True)]  #I=ingnorecase
df.loc[df.['name'].str.contains('ab[a-z]*' , flags=re.I ,regex=True)]
df.loc[df.['name'].str.contains('^ab[a-z]*' , flags=re.I ,regex=True)]#if we get at middle or smwr
#df.loc[!df.['name'].str.contains('ab[a-z]*' , flags=re.I ,regex=True)]error
df.loc[~df.['name'].str.contains('ab[a-z]*' , flags=re.I ,regex=True)]

In [ ]:
df.loc[df['Name']=='Abi','Name']='libi'
df.loc[df['Name']=='Abi','Class']=True
#dataframe.locate[df['total']>100 ,[semi_total,final_total]]=['good','verygood']
#_________________________Verify____AssignTo___________________AssignThe___conditionIsTrue____________________________

In [ ]:
df=pd.read_csv("File.csv")
df.groupby(['Type'].mean().sort_values('Name' , ascending=False))
df.groupby(['Type']).sum()
df.groupby(['Type']).count()
#suppose every vales are same ,then we want to declare
df['count']=1
df.groupby(['Type']).count()['count']
df.groupby(['Type1','Type2']).count()['count']

In [ ]:
new_df=pd.DataFrame(columns=df.columns)
for df in pd.read_csv("Filename.csv",chunksize=5):
  result=pd.groupby(['Type']).count()
  new_df=pd.concat([new_df,result])